.event {
    padding: 80px 0;
    
    width: 1366px;
    height: 377px;
    margin: 0 auto;

    &--Meliodas {
        background-image: linear-gradient(180deg, #1B6CA7, #442BDB);
    }
    &--Ban {
        background-image: linear-gradient(360deg, #1B6CA7, #442BDB);
    }
    &--Harlequim {
        background-image: linear-gradient(180deg, #1B6CA7, #442BDB);
    }
    &--Gowther {
        background-image: linear-gradient(360deg, #1B6CA7, #442BDB);
    }
    &--Diane {
        background-image: linear-gradient(180deg, #1B6CA7, #442BDB);
    }
    &--Merlin {
        background-image: linear-gradient(360deg, #1B6CA7, #442BDB);
    }
    &--Escanor {
        background-image: linear-gradient(180deg, #1B6CA7, #442BDB);
    }
    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }
    &--image {
        margin-left: 202px;

        @media (max-width: 768px) {
            margin: 0;
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            margin: 20px;
        }
    }

    .container {
        display: flex;
    }

    &__description {
        margin-right: 40px;

        &__title {
        font-size: 26px;
        font-family: Roboto, sans-serif;
        font-weight: bold;
        color: #FFFFFF;
        margin-left: 203px;
        margin-bottom: 16px;
    }

    span {
        color: white;
        font-size: 22px;
        margin-left: 203px;
        border-bottom: 1px solid black;
    }

        &__text {
        line-height: 22px;
        margin-top: 10px;
        margin-left: 203px;
        margin-right: 40px;
        color: #FFFFFF;
        font-weight: regular;
    }
    }

    &__imagem {
        max-width: 360px;
        margin-right: 202px;

        &:nth-child(2) {
            height: 250px;
            margin-right: 0;
        }
    }
}

@media (max-width: 768px) {
    .html {
        overflow-x: hidden;
    }
    .event {
        width: 100%;
        height: 100%;
        padding: 0;
        padding-top: 20px;
        
        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__description {
            width: 100%;
            margin-right: 0;
            text-align: center;

            &__title {
                margin: 0;
            }

            span {
                margin: 0;
                width: 85vw;
                
            }

            &__text {
                width: 100%;
                margin: 0;
                padding: 15px;
            }
        }

        &__imagem {
            width: 250px;
        }
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .html {
        overflow-x: hidden;
    }
    .event {
        width: 100%;
        height: 30%;
        margin: 0;
        padding: 0;

        .container {
            width: 100%;
            height: 30vh;
            display: flex;
            align-items: center;
        }

        &__description {
            width: 80%;
            margin: 0;
            padding: 20px;

            span {
                margin: 0;
            }

            &__text {
                margin: 0;
            }

            &__title {
                margin: 0;
                margin-bottom: 10px;
            }
        }
        
        &__imagem {
            padding: 10px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .html {
        overflow-x: hidden;
    }
    .event {
        width: 100%;
        height: 30%;
        margin: 0;
        padding: 0;

        .container {
            width: 100%;
            height: 30vh;
            display: flex;
            align-items: center;
        }

        &__description {
            width: 80%;
            margin: 0;
            padding: 20px;

            span {
                margin: 0;
            }

            &__text {
                margin: 0;
            }

            &__title {
                margin: 0;
                margin-bottom: 10px;
            }
        }
        
        &__imagem {
            padding: 10px;
        }
    }
}