.event {
    padding: 80px 0;
    
    width: 1366px;
    height: 377px;
    margin: 0 auto;

    &--Meliodas {
        background-image: linear-gradient(180deg, #1B6CA7, #442BDB);
    }
    &--Ban {
        background-image: linear-gradient(360deg, #1B6CA7, #442BDB);
    }
    &--Harlequim {
        background-image: linear-gradient(180deg, #1B6CA7, #442BDB);
    }
    &--Gowther {
        background-image: linear-gradient(360deg, #1B6CA7, #442BDB);
    }
    &--Diane {
        background-image: linear-gradient(180deg, #1B6CA7, #442BDB);
    }
    &--Merlin {
        background-image: linear-gradient(360deg, #1B6CA7, #442BDB);
    }
    &--Escanor {
        background-image: linear-gradient(180deg, #1B6CA7, #442BDB);
    }

    .container {
        display: flex;
    }

    &__description {
        margin-right: 40px;

        &__title {
        font-size: 26px;
        font-family: Roboto, sans-serif;
        font-weight: bold;
        color: #FFFFFF;
        margin-left: 203px;
        margin-bottom: 16px;
    }

    span {
        color: white;
        font-size: 22px;
        margin-left: 203px;
        border-bottom: 1px solid black;
    }

        &__text {
        line-height: 22px;
        margin-top: 10px;
        margin-left: 203px;
        margin-right: 40px;
        color: #FFFFFF;
        font-weight: regular;
    }
    }

    &__imagem {
        max-width: 360px;
        margin-right: 202px;

        &:nth-child(2) {
            height: 250px;
        }
    }
}