@use 'hero';
@use 'event';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.title--margin {
    margin: 0;
    margin-bottom: 10px;
}